<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <% if user_signed_in? %>
    <%#= link_to "出品する", new_item_path %>
  <% else %> 
    <%#= link_to "ログイン", new_user_session_path %>
  <% end %>
<%= yield %>
</body>

</html>